<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>

<input type="filepicker" data-fp-apikey="AXmn3RLQTR2GItm4yv1xjz" data-fp-mimetypes="application/msword, application/pdf" data-fp-container="modal" data-fp-services="BOX,CLOUDDRIVE,COMPUTER,DROPBOX,GOOGLE_DRIVE,SKYDRIVE,URL" onchange="alert(event.fpfile.url)">

  </body>
</html>
